labs/logic-app/provisioner-forms.template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "A365-Workshop-Provisioner"
    },
    "location": {
      "type": "string",
      "defaultValue": "eastus2"
    },
    "upnDomain": {
      "type": "string",
      "metadata": { "description": "Verified domain in the target tenant, for example contoso.onmicrosoft.com." }
    },
    "tapLifetimeMinutes": {
      "type": "int",
      "defaultValue": 480
    },
    "formId": {
      "type": "string",
      "metadata": { "description": "Microsoft Form ID (the id= value from the form URL). Use Get-FormMetadata.ps1 to discover it." }
    },
    "fullNameQuestionId": {
      "type": "string",
      "metadata": { "description": "Question ID of the full-name text field." }
    },
    "emailQuestionId": {
      "type": "string",
      "metadata": { "description": "Question ID of the email text field." }
    },
    "formsConnectionName": {
      "type": "string",
      "defaultValue": "microsoftforms"
    },
    "office365ConnectionName": {
      "type": "string",
      "defaultValue": "office365-1"
    }
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "upnDomain": {
              "type": "String",
              "defaultValue": "[parameters('upnDomain')]"
            },
            "tapLifetimeMinutes": {
              "type": "Int",
              "defaultValue": "[parameters('tapLifetimeMinutes')]"
            },
            "formId": {
              "type": "String",
              "defaultValue": "[parameters('formId')]"
            },
            "fullNameQuestionId": {
              "type": "String",
              "defaultValue": "[parameters('fullNameQuestionId')]"
            },
            "emailQuestionId": {
              "type": "String",
              "defaultValue": "[parameters('emailQuestionId')]"
            },
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            }
          },
          "triggers": {
            "When_a_new_response_is_submitted": {
              "type": "ApiConnectionWebhook",
              "splitOn": "@triggerBody()?['value']",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['microsoftforms']['connectionId']"
                  }
                },
                "body": {
                  "notificationUrl": "@{listCallbackUrl()}",
                  "eventType": "responseAdded"
                },
                "path": "/formapi/api/forms/@{encodeURIComponent(parameters('formId'))}/webhooks"
              }
            }
          },
          "actions": {
            "Get_response_details": {
              "type": "ApiConnection",
              "runAfter": {},
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['microsoftforms']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/formapi/api/forms('@{encodeURIComponent(parameters('formId'))}')/responses",
                "queries": {
                  "response_id": "@triggerOutputs()?['body/resourceData/responseId']"
                }
              }
            },
            "Create_user": {
              "type": "Http",
              "runAfter": {
                "Get_response_details": [ "Succeeded" ]
              },
              "inputs": {
                "method": "POST",
                "uri": "https://graph.microsoft.com/v1.0/users",
                "headers": { "Content-Type": "application/json" },
                "body": {
                  "accountEnabled": true,
                  "displayName": "@body('Get_response_details')?[parameters('fullNameQuestionId')]",
                  "givenName": "@first(split(body('Get_response_details')?[parameters('fullNameQuestionId')], ' '))",
                  "surname": "@last(split(body('Get_response_details')?[parameters('fullNameQuestionId')], ' '))",
                  "mailNickname": "@toLower(replace(body('Get_response_details')?[parameters('fullNameQuestionId')], ' ', '.'))",
                  "userPrincipalName": "@concat(toLower(replace(body('Get_response_details')?[parameters('fullNameQuestionId')], ' ', '.')), '@', parameters('upnDomain'))",
                  "department": "workshop",
                  "usageLocation": "US",
                  "passwordProfile": {
                    "forceChangePasswordNextSignIn": false,
                    "password": "@concat('Aa1!', guid())"
                  }
                },
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://graph.microsoft.com"
                }
              }
            },
            "Issue_TAP": {
              "type": "Http",
              "runAfter": {
                "Create_user": [ "Succeeded" ]
              },
              "inputs": {
                "method": "POST",
                "uri": "@concat('https://graph.microsoft.com/v1.0/users/', body('Create_user')?['id'], '/authentication/temporaryAccessPassMethods')",
                "headers": { "Content-Type": "application/json" },
                "body": {
                  "lifetimeInMinutes": "@parameters('tapLifetimeMinutes')",
                  "isUsableOnce": false
                },
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://graph.microsoft.com"
                }
              }
            },
            "Send_email": {
              "type": "ApiConnection",
              "runAfter": {
                "Issue_TAP": [ "Succeeded" ]
              },
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365-1']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/v2/Mail",
                "body": {
                  "To": "@body('Get_response_details')?[parameters('emailQuestionId')]",
                  "Subject": "Your A365 Workshop lab access",
                  "Body": "@concat('<p>Hi ', first(split(body('Get_response_details')?[parameters('fullNameQuestionId')], ' ')), ',</p><p>Your A365 Workshop lab account is ready. You will sign in with a <b>Temporary Access Pass (TAP)</b> - no password, no phone needed.</p><p><b>Step 1 - Sign in:</b> Go to <a href=\"https://www.office.com\">office.com</a>, enter the username below, choose <b>Sign in with a Temporary Access Pass</b>, and paste your pass.</p><ul><li><b>Username:</b> ', body('Create_user')?['userPrincipalName'], '</li><li><b>Temporary Access Pass:</b> ', body('Issue_TAP')?['temporaryAccessPass'], ' (valid 8 hours)</li></ul><p><b>Step 2 - Start building:</b></p><ul><li>Build agents in <b>Copilot Studio</b>: <a href=\"https://copilotstudio.microsoft.com\">copilotstudio.microsoft.com</a></li><li>Explore identity in <b>Microsoft Entra</b>: <a href=\"https://entra.microsoft.com\">entra.microsoft.com</a></li></ul>')",
                  "Importance": "Normal"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "microsoftforms": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('formsConnectionName'))]",
                "connectionName": "[parameters('formsConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/microsoftforms')]"
              },
              "office365-1": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365ConnectionName'))]",
                "connectionName": "[parameters('office365ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "principalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'Full').identity.principalId]"
    }
  }
}
